
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Indie+Flower&display=swap');


.header {
   color: rgb(109, 0, 0);
   text-align: center;

   background-size: cover;
   font-family: 'Permanent Marker', cursive;
}
.header:hover {
    color: rgb(77, 0, 0);
}

.card{
    font-family: 'Exo 2', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important;
    transition: 0.3s;
}
.card:hover{
    font-family: 'Exo 2', sans-serif;
    color:rgb(95, 0, 0);
    background-color: rgb(216, 216, 216)!important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)!important;
    
}
#details_page_review_section{
    font-family: 'Exo 2', sans-serif;
    box-shadow: 16px 8px 16px 0px rgba(0,0,0,0.2)!important;
    min-height:100vh;
    height: 100%;
    border: solid rgb(216, 216, 216);
    border-radius: 25px;
}

.RestaurantRating{
    font-size: 1.5rem;
}

body{
    font-family: 'Exo 2', sans-serif;
    background-image: linear-gradient(to bottom, rgb(235, 235, 235) , rgb(255, 255, 255));
    background-repeat: no-repeat;
}

#navbar{
    color: rgb(109, 0, 0);
}

.Locations, .addRestaurant{
    margin-top: 10px;
}

.toastAddressPhone {
    font-family: 'Exo 2', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    text-align: center;
}

.toast-header, .toast-body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    
}

.toast-header svg {
    height: 0px;
    width: 0px;
}


/* @media only screen and (min-width: 990px) {

  } */

